* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    margin-top: 30px;
}

.container {
    width: 100%;
    height: 800px;
    border: 2px black solid;
    background-image: url("../images/kitki.jpg");
    background-size: contain;
    border-top: 1px sandybrown solid;
    text-align: center;
}

.nav {
    background-color: white;
    color: sandybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38rem;
    padding: 0 1rem;
    border-top: 2px black solid;
    border-bottom: 1px sandybrown solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

.site-title-cat{
    font-family: "Barriecito", sans-serif;
    font-size: 4.2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3.5rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav li a {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
}

.nav li:hover {
    color: darkorchid;
}

.nav li.active {
    background-color: brown;
}

.welcome-msg-title{
    margin-top: 70px;
    font-family: "Raleway", sans-serif;
}

.welcome-msg-container {
width: 500px;
margin: auto; /* To wyśrodkuje w poziomie */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
    border: 1px sandybrown solid;
    border-radius: 5%;
}
.welcome-msg-container p{
    font-family: "Roboto", sans-serif;
}

.bold {
    font-family: "Barriecito", sans-serif;
    color: sandybrown;
    font-weight: 700;
}
